/* General Styling */
.landing-page {
  margin: 0;
  background: url(../images/bg-desktop.svg) no-repeat hsl(257, 40%, 49%);
  background-size: contain;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

/* Logo Styling */

.logo-img {
  width: 10rem;
  margin: 2.7rem 2rem;
}

/* Image Styling */

.illustration {
  width: 95%;
  padding-left: 3rem;
}

/* Whole Text Styling */

.text {
  padding-top: 2rem;
  padding-right: 10rem;
  color: #fff;
}

/* Heading Styling */

.heading-style {
  line-height: 1.5;

}
/* Button Styling */

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 1px 2px 5px #5c5c5c;
  -moz-box-shadow: 1px 2px 5px #5c5c5c;
  box-shadow: 1px 2px 5px #5c5c5c;
  font-family: 'Poppins', sans-serif;
  color: #674BAF;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #674BAF;
  text-decoration: none;
  color: #ffffff;
}

/* Social Icon Styling */

.fab {
  color: #fff;
  width: 30px;
  height: 30px;
}

.social {
  text-align: right;
  margin-top: 3rem;
  margin-right: 3rem;
  padding-bottom: 1.3rem;
}

/* Mobile Responsiveness Styling */

@media screen and (max-width:992px) {
  .landing-page {
    background: url(../images/bg-mobile.svg) no-repeat hsl(257, 40%, 49%);
    background-size: contain;
  }
  
  .logo-img {
  margin: 2.2rem 2rem;
}

  /* Mobile Image Styling */

  .illustration {
    width: 90%;
    text-align: center;
  }

/* h1 Mobile styling */

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }

/* p Mobile styling */

  p {
    text-align: center;
  }

/* General Text Mobile Styling */

  .text {
    width: 40rem;
    padding: 0 2.5rem;
    margin: 4rem auto;
  }

/* Button Mobile Styling */

  .button-style {
    text-align: center;
  }

  .btn {
    padding: 10px 80px 10px 80px;
  }

  /* Social Icons Mobile Styling */

  .social {
    text-align: center;
    margin-right: 0;
    padding-bottom: 2rem;
  }
}
